name: CI Validation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check HTML exists
        run: test -f index.html

      - name: Check CSS exists
        run: test -f style.css

      - name: Check JS exists
        run: test -f script.js
